<h1>Pingpong</h1>
<form action="/pingpongform" method="post">
  <label for="input-form">Enter a number</label>
  <input id="input-form" name="input-form" type="number">
  <button type="submit">Let's play PingPong!</button>
</form>
